<a href="https://colab.research.google.com/github/diegomera1/ActivitysIA/blob/main/DiegoMeraIA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np

varType = [('nombre', 'S10'), ('edad', int)]
data = [('Sofia', 25), ('Juan', 23), ('Laura', 21), ('Miguel', 22), ('Pablo', 26),('Ana', 29), ('Rocio', 27),('Mario', 29)]
users = np.array([[[data, data]], [[data, data]]], dtype = varType)
users.ndim

4

Ordenar por Edad

In [10]:
np.sort(users, order = 'edad')

array([[[[(b'Laura', 21), (b'Miguel', 22), (b'Juan', 23),
          (b'Sofia', 25), (b'Pablo', 26), (b'Rocio', 27), (b'Ana', 29),
          (b'Mario', 29)],
         [(b'Laura', 21), (b'Miguel', 22), (b'Juan', 23),
          (b'Sofia', 25), (b'Pablo', 26), (b'Rocio', 27), (b'Ana', 29),
          (b'Mario', 29)]]],


       [[[(b'Laura', 21), (b'Miguel', 22), (b'Juan', 23),
          (b'Sofia', 25), (b'Pablo', 26), (b'Rocio', 27), (b'Ana', 29),
          (b'Mario', 29)],
         [(b'Laura', 21), (b'Miguel', 22), (b'Juan', 23),
          (b'Sofia', 25), (b'Pablo', 26), (b'Rocio', 27), (b'Ana', 29),
          (b'Mario', 29)]]]], dtype=[('nombre', 'S10'), ('edad', '<i8')])

In [11]:
np.sort(users, order = 'nombre')

array([[[[(b'Ana', 29), (b'Juan', 23), (b'Laura', 21), (b'Mario', 29),
          (b'Miguel', 22), (b'Pablo', 26), (b'Rocio', 27),
          (b'Sofia', 25)],
         [(b'Ana', 29), (b'Juan', 23), (b'Laura', 21), (b'Mario', 29),
          (b'Miguel', 22), (b'Pablo', 26), (b'Rocio', 27),
          (b'Sofia', 25)]]],


       [[[(b'Ana', 29), (b'Juan', 23), (b'Laura', 21), (b'Mario', 29),
          (b'Miguel', 22), (b'Pablo', 26), (b'Rocio', 27),
          (b'Sofia', 25)],
         [(b'Ana', 29), (b'Juan', 23), (b'Laura', 21), (b'Mario', 29),
          (b'Miguel', 22), (b'Pablo', 26), (b'Rocio', 27),
          (b'Sofia', 25)]]]], dtype=[('nombre', 'S10'), ('edad', '<i8')])